.forgotMainPassword {
  position: absolute;
  left: 430px;
  top: 190px;
}
.forgotpass {
  color: rgba(0, 0, 0, 0.555);
  font: 500 2.2vmax 'Roboto';
  margin-left: 37%;
  margin-top: 5%;
}

.forgotPassword {
  width: 30vmax;
  height: auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
}
.forgotPassword > h3 {
  color: rgba(0, 0, 0, 0.555);
  font: 500 1vmax 'Roboto';
}
.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}
.forgotPasswordForm > div {
  display: flex;
  width: 100%;
  padding: 0.3vmax;
  align-items: center;
}
.inputs {
  outline: none;
  border: none;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}
.forgotPasswordBtn {
  border: none;
  background-color: #3d3b3b;
  color: white;
  font: 300 0.9vmax 'Roboto';
  width: 60%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.forgotPasswordBtn:hover {
  background-color: #686666;
}
@media screen and (max-width: 800px) {
  .forgotMainPassword {
    position: absolute;
    left: 22px;
    top: 130px;
  }
  .forgotPassword {
    width: 35vmax;
    height: 20vmax;
  }
  .inputs {
    size: 1%;
    padding: 1.8vmax;
    width: auto;
  }
  .forgotPasswordBtn {
    font: 300 1.9vmax 'Roboto';
    padding: 1.8vmax;
    width: 15vmax;
  }
  .forgotpass {
    margin-top: 10%;

    font-size: larger;
    margin-left: 16vmax;
  }
}
