/* .view {
  display: grid;
  justify-content: center;
}
.view a {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s ease;
}
.view a:hover {
  background-color: #007bff;
  color: #fff;
} */
.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}
.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.rentCard {
  width: 14vmax;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  border-radius: 2%;
}

.rentCard > img {
  width: 14vmax;
}

.rentCard > p {
  font-family: 'Roboto';
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}
.spec {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  font-size: 13px;
}

.rentCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1vmax;
}
.rentCard:hover {
  transform: translateY(-1vmax);
}
@media screen and (max-width: 600px) {
  .rentCard > p {
    font-size: 1.7vmax;
  }

  .rentCard > span {
    font-size: 1.5vmax;
    margin: 0 0.5vmax;
    font: 300 1vmax 'Roboto';
  }
}
